<!DOCTYPE html>
<html lang="en">

<head>
    <title>Let's pset!</title>
</head>

<body>
    <div style="background-color:#70bf41">
        <h3>Please select your search criterion</h3>
    </div>
    <div style="background-color:yellowgreen">
        Select your graduation year:
        <select>
            <option value="">Choose your graduation year</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>        
        </select>
        </br>
        Select your dorm, fraternity, sorority or living group:
        <select>
            <option value="">Choose your living group</option>
            <option value="Next House">Next House</option>
            <option value="ADP">ADP</option>
        </select>
    </div>
</body>