<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Let's pset!</title>
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="home">Home </a>
                    </li>
                    <li role="presentation"><a href="signin">Sign In</a>
                    </li>
                    <li role="presentation"><a href="signup">Sign Up</a>
                    </li>
                    <li role="presentation"><a href="profile">Profile</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Find your pset buddies!</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Let's pset!</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="signup" role="button">Sign up today</a>
            </p>
        </div>