<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Let's pset!</title>
   
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
 
<!--     <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet"> -->
    <script src="../static/js/jquery-1.11.2.js"></script>

    <script src="../static/js/signUp.js"></script>
  <style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}
  </style>
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="home">Home</a></li>
            <li role="presentation"><a href="signin">Sign In</a></li>
            <li role="presentation" class="active"><a href="signup">Sign Up</a></li>
            <li role="presentation"><a href="profile">Profile</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Find your pset buddies!</h3>
      </div>
 
      <div class="jumbotron">
        <h1>Let's pset!</h1>
        <form class="form-signin">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
         
        <a id="btnSignUp" class="btn btn-lg btn-primary btn-block" href='profile' type="button">Sign up</a>
      </form>
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; 2017</p>
      </footer>
 
    </div>
  </body>
</html>